/*--------------------------------------------------------------
1. Google Fonts Integration
----------------------------------------------------------------*/
/** Nunito Sans **/
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/** Rubik **/
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
