/*--------------------------------------------------------------
2. All Variable
----------------------------------------------------------------*/
:root {
  --white-color: #fff;
  --heading-color: #191919;
  --body-color: #768385;
  --accent-color: #FFA415;
  --orange-color: #FF5528;
  --border-color: #8D8D8D;
  --blue-color: #346DFF;
  --gray-color: #E7E7E7;
  --gray2-color: #F1F6F7;
  --heading-font: 'Nunito Sans',sans-serif;
  --body-font: 'Rubik', sans-serif;
}