/*--------------------------------------------------------
  21. About
 --------------------------------------------------------- */
 .cs_about.cs_style_1 {
  .cs_about_thumbnail_wrapper {
    position: relative;
    z-index: 1;
  }

  .cs_about_thumbnail_1 {
    img {
      width: 100%;
      border-radius: inherit;
    }
  }

  .cs_about_thumbnail_2 {
    padding-left: 45%;
    border-radius: 0 0 5px 0;
    position: absolute;
    right: 0;
    bottom: 0;

    img {
      border: 15px solid var(--white-color);
      border-right: 0;
      border-bottom: 0;
      border-radius: inherit;
    }
  }

  .cs_about_content {
    position: relative;
    z-index: 1;
    padding-left: 85px;
    @media (max-width:1199px) {
      padding-left: 30px;
    }
    @media (max-width:991px) {
      padding-left: 0;
    }
  }

  .cs_about_text {
    margin-bottom: 0px;
  }

  .cs_about_shape_1 {
    top: 60%;
    right: -200px;
    transform: translateY(-60%);
    @media (max-width: 1650px) {
      display: none;
      }
  }
}
